<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @team.motto %>
</p>

<p>
  <strong>Points:</strong>
  <%= @team.points %>
</p>

