<% year = 2015 %>
<% %w[white.png white.png yellow.png blue.png yellow.png green.png blue.png yellow.png].each_with_index do |logo, index| %>
    <% if index == 0 %>
        <div class="col-xs-6 col-sm-2 col-sm-offset-1">
    <% elsif index == 5 %>
        <div class="col-xs-6 col-sm-2 col-sm-offset-3">
    <% elsif index > 5 %>
        <div class="col-xs-6 col-sm-2">
    <%else%>
        <div class="col-xs-6 col-sm-2">
    <% end %>
            <div class="thumbnail img-responsive past-winners">
                <%= image_tag logo, alt: logo.split(".")[0] + " team"%>
                <div class="caption text-center">
                    <span class="text-pink"><%= year %></span>
                </div>
            </div> <!-- /thumbnail -->
            <% year -= 1 %>
        </div> <!-- /column -->
<% end %>
