<div class ="container">
	<div class="row about">
		<div class="col-xs-12">
			<h2 class="text-center text-primary">About</h2>
			<p class="space"></p>
			<p>
				<b>Anna Hockey League</b> (AHL) is an exclusive tournament in the game of Field Hockey, our national game. AHL is conducted by the student players from the constituent colleges of Anna University-Chennai i.e. <b>College of Engineering Guindy</b> (CEG), <b>Alagappa College of Technology</b> (ACT) and <b>Madras Institute of Technology</b> (MIT) - Chrompet.
			</p>

			<p>
				This league is the first of its kind in the history of Anna University-Chennai, which is solely conducted by the student players of the above mentioned colleges with the perception of drawing interest towards our national game as well as to compete themselves to develop their individual skills.
			</p>

			<p>
				  AHL started it's journey from the year (2008) and it is planned by the student players that to conduct this AHL every year in the even semesters (January to April) to attract more viewers and to create an awareness among the students of the Anna University-Chennai campus about the game 'Hockey'.
			</p>

			<p>
				  AHL'08 was inaugurated by former Director of University Sports Board (USB), Anna University-Chennai <b>Dr.J.P.Sukumar</b> with the support of all the staffs in the University Sports Board. Special interest is being shown on this league by the Assistant Physical Directors of USB <b>Dr.B.Balakumaran</b>, <b>Mr.S.Balaganesh</b> and <b>Ms.Evelyn Synthia</b>.
			</p>

			<p>
				 The funds for conducting the league is being collected from interested organizations and from the alumni players of the above mentioned colleges and is handled perfectly by the Mentor <b>Mr.S.Balaganesh</b>- Assistant Physical Director, Anna University, Chennai.
			</p>

			<p>
				   Apart from the regular academic events, the student players involve themselves in organizing this league to develop their inter-personal skills, leadership skills and also the managerial skills.
			</p>

		</div> <!-- end of column -->
	</div> <!-- end of row -->
</div> <!-- end of container -->
