<div class ="container">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="text-center text-primary">About</h2>
			<p class="space"></p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet diam id magna pharetra porta. Suspendisse tortor erat, malesuada eget vehicula ac, facilisis ut eros. Aliquam consequat sem id posuere maximus. Mauris tempus massa a leo tempus fringilla. Donec id mattis dui. Morbi id varius elit. In nec finibus turpis, id lacinia erat. Phasellus in nisl nisl.
			</p>

			<p>
				Aliquam sit amet rutrum purus. Maecenas vel sapien nec massa pharetra hendrerit id sit amet tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed in aliquet ante, ut tempus sapien. Integer vestibulum mauris at massa vulputate hendrerit. Sed elementum odio vitae est vehicula, id sagittis massa malesuada. Maecenas a venenatis lectus. Aliquam erat volutpat. Donec mollis urna eu turpis tincidunt imperdiet.
			</p>

			<p>
				Curabitur nec ipsum auctor, ultrices orci non, consequat tortor. Nunc consequat rutrum vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent consequat pharetra posuere. Nunc placerat ligula eget sollicitudin dictum. Sed orci sem, efficitur vitae blandit sed, ultricies non massa. Curabitur vitae nisi massa. Cras pharetra nibh vitae pretium hendrerit. Cras rutrum sem vitae lectus fermentum, in sollicitudin diam scelerisque. Sed suscipit, enim eget hendrerit congue, lacus ligula faucibus nunc, quis placerat ligula ex et urna. Vestibulum pharetra nibh eget eros volutpat, vitae euismod purus facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum fringilla mi at accumsan venenatis. Sed mattis aliquet placerat. Nullam eget nunc cursus, euismod enim sed, hendrerit ante.
			</p>

			<p>
				Etiam tempor condimentum odio non ultricies. Sed at eros rhoncus, sodales magna ac, mollis sem. Fusce facilisis tempus massa, a blandit eros condimentum vel. Maecenas pulvinar scelerisque justo ut ornare. Nunc pharetra bibendum orci, id accumsan dolor sollicitudin nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus convallis interdum nunc egestas congue. Quisque lacinia risus non faucibus hendrerit. Vestibulum nec ex est. Etiam pretium sem ut imperdiet luctus. Sed in nisi sed elit faucibus dapibus nec sit amet metus. Quisque pulvinar feugiat ex. Proin sem neque, pulvinar id purus ornare, luctus accumsan eros.
			</p>

			<p>
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc congue ligula eu risus eleifend consequat. Praesent malesuada turpis lectus, eu placerat dui consequat nec. Phasellus pellentesque, massa a lacinia finibus, nunc nibh lacinia libero, nec laoreet felis velit ullamcorper urna. Morbi sit amet orci augue. Donec eget lacus id orci cursus dapibus non at nisl. Maecenas viverra porta dui sed tincidunt. Etiam bibendum maximus semper.
			</p>
		</div> <!-- end of column -->
	</div> <!-- end of row -->

				<!--<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading text-center">
					<h3>Cool Facts</h3>
				</div>

				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>Captain</dt>
						<dd>Satish Kumar</dd>

						<dt>Coach</dt>
						<dd>Velmurugan</dd>

						<dt>Star Players</dt>
						<dd>Sunil Rajkiran, Vignesh</dd>
					</dl>
				</div>

			</div>
		</div>
</div> -->
</div> <!-- end of container -->
