<div class="container">
    <h1 class="text-primary text-center">Fixtures</h1><hr>
    <div class="container">
        <div class="row">
            <% @matches.each do |match| %>
                <%= render match, names: [match.first_team.name, match.opponent_team.name] %>
            <% end %>
        </div> <!-- /row -->
    </div>  <!-- /inner-container -->
</div> <!-- /outer-container -->
