
<div class="col-xs-12 col-sm-4" id="image-gallery">
    <%= link_to photo do %>
    <div class="thumbnail gallery">
        <%= link_to image_tag(photo.photo_url, class: "img-responsive"),image_path(photo.photo_url), class: "fancybox" %>
        <% if photo.match %>
            <div class="caption">
                <% first_team = Team.find(photo.match.team1_id) %>
                <% opponent_team = Team.find(photo.match.team2_id) %>
                <span class="text-pink"><%= first_team.name  %><span class="text-primary"> Vs </span>
                <span class="text-pink"><%= opponent_team.name %></span>
            </div>
        <% end %>
    </div> <!-- end of thumbnail -->
    <% end %>
</div>
