<div class="container">
    <div class="row">
        <h1 class="text-center">Gallery</h1>
        <% @matches.each do |match|  %>
        <div class="col-xs-12 col-sm-4" id="gallery-first">
                <div class="thumbnail gallery-photo">
                    <%= link_to image_tag(match.photos.first.photo_url, class: "img-responsive"), match_photos_path(match) %>
                        <div class="caption text-center">
                            <% first_team = Team.find(match.team1_id) %>
                            <% opponent_team = Team.find(match.team2_id) %>

                            <span class="text-pink team-name-gallery"><%= first_team.name  %>
                            <span class="text-primary"> Vs </span>
                            <span class="text-pink team-name-gallery"><%= opponent_team.name %></span>

                            <p class="photo-count"><%= match.photos.count %> photos</p>
                        </div> <!-- /caption -->
                </div> <!-- end of thumbnail -->
            </div>
        <% end %>
    </div> <!-- /row -->
</div> <!-- /container -->
