<div class="container">
    <div class="row">
        <p class="space"></p>
        <p class="space"></p>
        <%= render @photos %>
    </div> <!-- end of row -->
</div> <!-- end of container -->
