@import 'bootstrap-sprockets';


/** Colors **/
$pink:  #e00023;
$dark-grey: #2d2d2d;
$royal-blue: #337ba7;

/** Overrides Bootstrap's default styles using less
	Customize bootstrap and then load it
 **/

/** Navbar **/
$navbar-default-bg: #fff;
$navbar-height: 70px;
$navbar-default-link-color: #111;
$navbar-default-link-hover-color: $pink;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: #fff;
$navbar-default-brand-color: $pink;
$navbar-default-border: #fff;
$navbar-default-toggle-icon-bar-bg: $pink;
$navbar-default-link-active-color: $pink;

/** Dropwdown **/
$dropdown-link-color: #333;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: $pink;
$dropdown-link-active-color: $pink;
$dropdown-caret-color: $pink;

@import 'bootstrap';
$footer-height: 200px;

/** Adding the required font files so that it works locally**/
@font-face{
	font-family: "Cabin";
	src: font-url('Cabin-Regular.ttf') format('truetype');
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: Cabin, sans-serif;
	overflow-x: hidden;
	font-size: 1.5em;
  	padding-top: 100px;
}
/** Media queries for past winners**/
@media (min-width: 768px){
	.bottom-row{
		margin-left: 16%;
	}
}


/** ridge borders **/
.ridge-bottom{
	border-bottom: 1px ridge;
}
/* headings  */
h2{
	color: $dark-grey;
}
.text-big{
	font-size: 200%;
}
a, a:hover{
	text-decoration: none;
}
.team-link:hover{
	color: $dark-grey;
}
.space{
	padding-top: 50px;
}

/** styles for quicklinks **/
.center-links{
	margin-left: 15%;
}
.center-links li{
	font-weight: bold;
}

/* AHL Banner*/
.banner{
	border-top-right-radius: 35%;
	border-bottom-right-radius: 35%;
	background: $royal-blue;
	font-size: 16px;
	color: floralwhite;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;

	-webkit-animation: slidein 1s linear 0s infinite alternate;
	-moz-animation: slidein 1s linear 0s infinite alternate;
	-o-animation: slidein 1s linear 0s infinite alternate;
	animation: slidein 1s linear 0s alternate;
}
/** This is to remove the black gradient in the right control of the carousel **/
.carousel-control.right{
    left: auto;
    right: 0px;
  }
  .carousel-control:right{
    background-image: none;
    background-repeat: no-repeat;
}
/* Styles for past performance of teams */
.circle{
	width: 42px;
    height: 40px;
    border-radius: 60%;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    line-height: 40px;

}

.red-circle{
	background: #f22613;
}
.green-circle{
	background: #26c281;
}
.yellow-circle{
	background: #f4d03f;
}
/* row */

.row-content
{
	margin-bottom: 5%;
}
.carousel-control, .carousel-control:hover{
	text-shadow: none;
}
.title-style{
	color: #fff;
	font-weight: bold;
	font-size: 26px;
}
.font-big{
	font-size: 120%;
}

/* Footer */
.footer-content{
	margin-top: 50px;
	background: #2d2d2d;
	color: #aaa;
	h3
	{
		color: $pink;
	}
	a{
		color: #999;
	}
}
@media (min-width: 768px){
	.footer-content{
		height:$footer-height;
	}
}

.trademark{
	color: #eee;
	font-size: 160%;
	height:$footer-height;
	line-height: $footer-height;
}

/**For social buttons ***/
.social-icons a:hover{
	text-decoration: none;
}
.circle-logo{
	width: 35px;
	height: 35px;
	background: #e00023;
	text-align: center;
	border-radius:100%;
	transition: -webkit-transform 0.7s ease-out 0.2s;
	transition: -moz-transform 0.7s ease-out 0.2s;
	transition: -o-transform 0.7s ease-out 0.2s;
	transition: transform 0.7s ease-out 0.2s;
}
.circle-logo:hover{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
.circle-logo i{
	line-height: 35px;
	font-size: 150%;
	color: #fff;
}
.circle-logo{
	display: inline-block;
}
/**Stats table **/
th{
	font-weight: bold;
	font-size: 1.2em;
}
.stats-table thead tr{
	color: $pink;
}

/** Cards **/
.card{
	width: 22px;
	height: 28px;
}
#red-card{
	background: #cc0000;
}
#green-card
{
	background: #26a65b;
}
#yellow-card
{
	background: #f7ca18;
}
/****Player gallery **/
.captain-image{
	border: 1px solid #ee0000;
}
.player-image{
	transition: transform 0.6s linear 0.2s;
}
.player-image:hover{
	transform: scale(1.2);
}
/** Table styles  **/
.players-table th{
	background: #00000e;
	color: #fff;
}
.stats-table th{
	background: #eee;
}

#stats-table tr{
	padding: 5px 10px;
	opacity: 0.8;
}

#stats-table tr:hover{
     opacity: 1;
}

#stats-table tbody tr th{
	text-align: center;
}
/** navbar brand styles **/
.navbar-brand
{
	font-size: 1.4em;
	font-weight: bold;
	color: $pink !important;
}
/* Carousel  */
.carousel .item {
  height: 350px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 350px;
}
/* ahl intro in home page  */
#ahl-intro{
	background: $pink;
	border-top-left-radius: 20%;
	border-bottom-right-radius: 20%;
	color: #fff;
}
/** Reports **/
.report{
	background: #E9E9E9;
}
.text-italic{
	font-style: italic;
}
.report-time{
	margin-bottom: 2%;
}
/* Style for team motto */
#motto{
	background: $pink;
	color: #fff;
	text-align: center;
	span
	{
		font-size: 120%;
	}
	blockquote
	{
		margin-top: 2%;
	}
}
/* Players table styles
	Squad
 */
td,th{
	text-align: center;
}
.players-table td{
	margin-right: 5px;
	border: 1px solid #fff;
}
.players-table tr:nth-child(even){
	background: $pink;color: #fff;
}
.players-table tr:hover td:first-child{
	border-left: 5px solid $royal-blue;
}
/* Fixtures styles */
.match-fixture{
	color: #2d2d2d;
}
.match-fixture:hover{
	text-decoration: none;
	color: $pink;
}
.date{
	text-align: right;
	color: #777;
}

/* styles for player modal */
.player-name-header{
	background: #e00023;
	color: #fff;
}
.player-info{
	margin-left: 20%;
}
.player-modal-image{
	margin-left: 35%;
}
.grey-x{
	color: #999;
	font-size: 250%;
}
/* Reports  */
.report-title{
	color: $pink;
	margin-top: 50px;
}
/* Leaderboard */
.leaderboard tr:nth-child(even){
	background: $pink;
	color: #fff;
}
.leaderboard tr:hover td:first-child{
	border-left: 3px solid #337ab7;
}
.leaderboard th{
	background: #337ab7;
	color: floralwhite;
}
/***/
.versus{
	color: $pink;
	text-align: center;
	height: 150px;
	line-height: 150px;
}

#player-modal modal-header, #player-modal modal-body, #player-modal modal-footer{
	width: 80%;
}
/* text colors */
.text-pink{
		color: $pink;
}
.text-grey{
	color: #ddd;
}
.text-light-grey{
	color: #777;
}
/* core style */
.livescore-style{
	display: inline-block;
}
/* styles for panel danger */
.panel-danger .panel-heading{
	background: $pink;
	color: #eee;
}

/* Form elements */
.form-control{
	width: 40%;
}
/* Gallery styles  */
.gallery img{
	max-height:200px;
	max-width: 300px;
}
.ridge-border{
	border-bottom: 1px solid ridge;
}
.liveScoreArea panel-heading{
	color: #fff;
}
.comment, #commentary{
	font-size: 130%;
}
/** animations (experimental) **/
@-webkit-keyframes slidein { from { margin-left:-50%;margin-top:-20%;color: red; } to { margin-left:0%;margin-top: 0%;color: #fff; }  }
   @-moz-keyframes slidein { from { margin-left:-50%;margin-top:-20%;color: red; } to { margin-left:0%;margin-top: 0%;color: #fff; }   }
     @-o-keyframes slidein { from { margin-left:-50%;margin-top:-20%;color: red; } to { margin-left:0%;margin-top: 0%;color: #fff; }  }
        @keyframes slidein { from { margin-left:-50%;margin-top:-20%;color: red; } to { margin-left:0%;margin-top: 0%;color: #fff; }  }

/* match jumobtron */
.match-title{
	background: #fff;
}
/* Styles for past winners */
.past-winners{
	border: 10px solid $pink;
}
.past-winners img{
	height: 116px;
}
@media (min-width: 768px){
	.bottom-row .single-photo{
		width: 195px;
	}
}

@media (max-width: 768px){
	.bottom-row .single-photo{
		width: 192.5px;
	}
}
