@import 'bootstrap-sprockets'; 
@import 'bootstrap';
 @import url(http://fonts.googleapis.com/css?family=Droid+Sans); 


/** Adding the required font files so that it works locally**/
@font-face{
	font-family:'Droid Sans';
	src:font-url('DroidSans.ttf') format("truetype");
	font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'Droid Sans', 'Source Sans Pro', sans-serif;
}

/** styles for quicklinks **/
.center-links{
	margin-left: 30%;
}
.center-links li{
	font-weight: bold;
}

/** This is to remove the black gradient in the right control of the carousel **/
.carousel-control.right{
    left: auto;
    right: 0px;
  }
  .carousel-control:right{
    background-image: none;
    background-repeat: no-repeat;
}

.carousel-control, .carousel-control:hover{
	text-shadow: none;
}