<div class="row">
    <p class="space"></p>
</div>
<div class="row report-container">
        <div class="col-xs-12">
                <h2 class="report-title"><%= report.caption %></h2>
                <div class="text-light-grey report-time">
                    Written&nbsp;<%= time_ago_in_words(report.updated_at) %> ago
                </div>
        </div>

        <div class="col-xs-12 col-sm-10 col-sm-offset-1 report">
            <%= (simple_format(report.article)) %>
        </div>


        <div class="col-xs-12 col-sm-4 col-sm-offset-3">
            <p class="space"></p>
            <%= image_tag report.image, alt: "Image missing", width: "500", class: "media-object" %>
            <p class="space"></p>
        </div>



</div> <!-- /row -->
