<div class="container">
    <h2 class="report-title"><%= report.caption %></h2>
    <span class="text-italic text-light-grey">Written&nbsp;<%= time_ago_in_words(report.updated_at) %> ago</span>
    <div class="well report-well">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-sm-offset-3">
                <%= image_tag report.image, alt: "Image missing", width: "500" %>
            </div>


            <div class="col-xs-12">
                <p class="space"></p>
                <p class="report">
                    <%= simple_format(report.article) %>
                </p>
                <p class="space"></p>
            </div>
         </div>
    </div> <!-- end of well -->
</div>
