<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
            <% if notice %>
                <div class="alert alert-info"><%= notice %> </div>
            <% end %>
            <h1>New Report</h1>
            <%= render 'form' %>
        </div>
    </div>
</div>
