<nav>
  <div class="nav-wrapper">
    <a href="#" data-activates="mobile-nav" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>

    <%= link_to "Anna Hockey League", root_path, class: "brand-logo left" %>
    
    <ul class="right hide-on-med-and-down">
      <%= render 'layouts/links', id: 'default' %>
    </ul>
    
    <ul id="mobile-nav" class="side-nav">
      <%= render 'layouts/links', id: 'mobile' %>
    </ul>
      
  </div> <!-- end .nav-wrapper -->
</nav>
